<app-header *ngIf="auth.isAuthed()"></app-header>
<div class="main-wrapper full-size">
  <md-card [class.hide-mobile]="!mobileSidebarShown" class="sidebar" *ngIf="auth.isAuthed()">
    <md-tab-group>
      <md-tab label="People">
        <app-partner-list></app-partner-list>
      </md-tab>
      <md-tab label="Rooms">
        <app-room-list></app-room-list>
      </md-tab>
    </md-tab-group>
  </md-card>
  <button md-raised-button (click)="toggleMobileSidebar()" class="toggle-sidebar">
    <i class="fa fa-bars"></i>
  </button>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
